@media (max-width: 1199.98px){
    .intro{
        margin-top: 120px;
      }
    .btn-main{
        margin-bottom: 150px;
    }
    section{
        padding: 80px 0 90px;
    }
    
.text2{
    margin: 40px auto 0;
}
.contacts{
    background-position: -50% -180%;
}
h1{
    font-size: 70px;
} 
.tl{
    top: 0;
    height: 300px;
    left: 50%;
    z-index: -1;
}
.circle,
.circle2{
    width: 130px;
    height: 130px;
}
.timeline .col-xl-5:nth-child(odd){
    text-align: right;
    margin-bottom: 50px;
  }
  
  .timeline .col-xl-5:nth-child(even){
    text-align: left;
    margin-bottom: 50px;
  }





    
}
@media (max-width: 991.98px){
h1{
    font-size: 60px;
}
.tl{
    display: none;
}
.circle{
    width: 170px;
    height: 170px;
}

.timeline .row{
   
}
.circle2{
    margin: auto;
    width: 170px;
    height: 170px;
}
.user{
    width: 180px;
    height: 180px;
}
.pr .row{
    text-align: center;
}
.pr .col-xl-3:nth-child(1){
    margin-bottom: 40px;
}
.pr{
    padding: 30px 0;
}

.timeline .col-xl-5:nth-child(odd){
    margin-bottom: 60px;
  }
  
  .timeline .col-xl-5:nth-child(even){
    margin-bottom: 60px;
  }
  .timeline .col-lg-5:nth-child(3){
 display: none;
  }
.timeline .col-lg-5:nth-child(4){
    display: none;
     }
.timeline .col-lg-5:nth-child(9){
display: none;
         }
.timeline .col-lg-5:nth-child(10){
display: none;
             }
.timeline .col-lg-5:nth-child(13){
    display: none;
}
 .timeline .col-lg-5:nth-child(15){
    display: none;
 }



}
@media (max-width: 767.98px){

    .circle,
    .circle2{
        width: 150px;
        height: 150px;
    }
    h2{
        font-size: 40px;
    }
    .descr{
      font-size: 18px; 
      margin-bottom: 50px; 
    }
    .date{
        font-size: 24px;
    }
    .team .col-xl-4{
        margin-bottom: 40px;
    }
    .text2{
        margin: 0;
    }
    .copy{
        text-align: center;
    }
    footer .col-xl-8{
        text-align: center;
    }
    .contacts {
        padding: 70px 0;
    }
    .btn-main{
        padding: 14px 36px;
    }


}
@media (max-width: 575.98px){
h1{
   font-size: 46px; 
}
.intro{
    margin-top: 90px;
    font-size: 30px;
}
.btn-main{
    margin-bottom: 90px;
    padding: 14px 36px;
}
.card img{
    width: 75%;
}
.card{
    background:none;
}
.card-body{
    margin: auto;
    width: 75%;
    background: #fff;
}
form{
    width: 80%;
    margin: auto;
}
.timeline .col-xl-5:nth-child(odd){
    text-align: center;

  }
  
  .timeline .col-xl-5:nth-child(even){
    text-align: center;

  }
  
  .timeline .circle{
      display: none;
  }

  .timeline p{
      width: 75%;
      margin: auto;
  }












}